.add_employee_schedule_btn .btn {
    display: none;
}

.add_employee_schedule_btn:hover .btn {
    display: block;
}

.max-w-300 {
    max-width: 300px;
}

.min-h-200 {
    height: 200px;
}

.min-w-166 {
    min-width: 166.8px;
}

.table-success {
    background-color: #198754;
}